<%- include("../partials/header") %>

<h1>My Service Requests</h1>

<% if (requests.length === 0) { %>
  <p>You have no service requests yet.</p>
<% } else { %>
  <ul>
    <% requests.forEach(req => { %>
      <li>
        <strong><%= req.title || "Vehicle Removed" %></strong><br />
        Status: <%= req.status %><br />
        Message: <%= req.message %>
      </li>
    <% }) %>
  </ul>
<% } %>

<%- include("../partials/footer") %>
