<%- include("../partials/header") %>

<h1>My Service Requests</h1>

<ul>
  <% requests.forEach(req => { %>
    <li>
      <strong><%= req.title || "Vehicle Removed" %></strong><br />
      Status: <%= req.status %><br />
      Message: <%= req.message %>
    </li>
  <% }) %>
</ul>

<%- include("../partials/footer") %>
